@import "tailwindcss";

/* 2. Tailwind plugins (like animations) */
@import "tw-animate-css";

/* 3. Base layer: resets, typography, etc. */
@import "./base.css";

/* 4. Theme tokens and variables (should come early so others can use them) */
@import "./shadcn.theme.css";
@import "./theme.css";

/* 5. Component styles (custom or library-based) */
/* @import "../assets/styles/components.css"; */

/* 6. Utility  or extensions */
@import "./utilities.css";

/* 7. Custom project-specific styles */
/* @import "../assets/styles/main.css"; */

/* 8. Override project-specific styles */
/* @import "../assets/styles/override.css"; */

/* 9. Tailwind plugins (should be declared after imports) */
@plugin "@tailwindcss/forms";

@plugin "tailwindcss-debug-screens" {
  classname: "debug-screens";
  position: "bottom, right";
  prefix: "screen: ";
}

@custom-variant dark (&:is(.dark *));
